.container {
    display: inline-flex;
    margin-top: 5;
    padding: 5;
    align-items: center;
    border-radius: 0.5rem;
    background-color: rgb(245 245 244);
    width: auto;
    margin-left: 1.5rem;
}
