.cart {
    display: inline-flex;
    margin-top: 7px;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(235, 233, 239);
    width: 284px;
    height: 112.62px;
    top:225.26px;
    left:157px;
    
    
}
.container {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1px;
    padding-left: 0.1rem;
    width:96.53px;
    height: 95.34px;
    top:233.57px;
    left:165.41px;
    display: inline-flex;

}
.btn {
   
    color: rgb(255 255 255);
    font-size: 13px;
    
    
}